export(mcprofile, wald, hoa, mcprofileControl)
#exportClasses("mcprofile", "mcpCI", "mcpSummary", "mcprofileControl")

import(ggplot2)
importFrom("quadprog", solve.QP)
importFrom("splines", interpSpline)
importFrom("mvtnorm", pmvnorm, pmvt, qmvnorm, qmvt)
importFrom("stats", "coefficients", "df.residual", "family",
             "gaussian", "lm", "lm.fit", "model.frame", "model.matrix",
             "model.offset", "model.response", "model.weights",
             "na.omit", "p.adjust", "pnorm", "predict", "printCoefmat",
             "pt", "qchisq", "qf", "qnorm", "qt", "uniroot", "vcov")
S3method(mcprofile, lm)
S3method(mcprofile, glm)
S3method(print, mcprofile)
S3method(plot, mcprofile)
S3method(summary, mcprofile)
S3method(confint, mcprofile)
S3method(print, mcpCI)
S3method(plot, mcpCI)
S3method(exp, mcpCI)
S3method(expit, mcpCI)
S3method(print, mcpSummary)


