useDynLib(coxme, .registration = TRUE)
import(bdsmatrix, methods, survival)
importFrom(nlme, ranef, random.effects, fixef, fixed.effects, VarCorr)
importFrom("stats", anova, as.formula, coef, formula,
             model.extract, model.matrix, model.offset, predict,
             model.weights, napredict, naprint, naresid,
             pchisq, rchisq, rnorm, terms, var)
import(Matrix) 
export("coxme", "lmekin", "coxme.control", "lmekin.control")
export("coxmeFull", "coxmeMlist")
export("expand.nested")
export("ranef", "random.effects", "fixef", "fixed.effects", "VarCorr") 
S3method(anova, coxme)
S3method(anova, coxmelist)
S3method(fixef, coxme)
S3method(fixef, lmekin)
S3method(formula, coxme)
S3method(logLik, coxme)
S3method(logLik, lmekin)
S3method(predict, coxme)
S3method(print, coxme)
S3method(print, lmekin)
S3method(ranef, coxme)
S3method(ranef, lmekin)
S3method(residuals, lmekin)
S3method(summary, coxme)
S3method(VarCorr, coxme)
S3method(VarCorr, lmekin)
S3method(vcov, coxme)
S3method(vcov, lmekin)
