#### This file is used to exclude all of the file types in the main R program in order to prevent it from skewing the stats for PODv4.5
*.html linguist-vendored
*.htm linguist-vendored
*.css linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.tex linguist-vendored
*.sty linguist-vendored
*.js linguist-vendored
*.R linguist-vendored
*.Rd linguist-vendored
*.Rmd linguist-vendored
*.svg linguist-vendored
*.txt linguist-vendored


POD Source Code/R-4.1.2/doc/manual/*.html linguist-vendored
POD Source Code/R-4.1.2/library/** linguist-vendored


/** linguist-vendored
